 div(id="app")
      .db   
        .db__header 
          h1 Excel Dashboard
        .db__new 
          .db__view
            a.db__create(href="#") Новая <br> таблица
        .db__table.db__view
          .db__list-header 
            span Название
            span Дата открытия
          ul.db__list 
            li.db__record 
              a(href="#") Таблица номер 1
              strong 12.06.2020
            li.db__record 
              a(href="#") Таблица номер 1
              strong 12.06.2020