doctype html
html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./favicon.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons")
    title JavaScript exel
  body 
    .container(id="app")
      .excel 
        .excel__header
          input.input(type="text" value="Новая таблица")
          .roma 
            .button 
              i.material-icons delete
            .button 
              i.material-icons exit_to_app
        .excel__toolbar 
          .button 
            i.material-icons format_align_left
          .button 
            i.material-icons format_align_center
          .button 
            i.material-icons format_align_right
          .button 
            i.material-icons format_bold
          .button 
            i.material-icons format_italic
          .button 
            i.material-icons format_underlined
        .excel__formula
          .info fx
          .input(contenteditable)
        .excel__table
          .row 
            .row-info
            .row-data   
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
              .column A
              .column B
              .column C
          .row 
            .row-info 1
            .row-data   
              .cell(contenteditable).selected 1A
              .cell(contenteditable) 2B
              .cell(contenteditable) 3C
          .row 
            .row-info 2
            .row-data   
              .cell(contenteditable) 1A
              .cell(contenteditable) 2B
              .cell(contenteditable) 3C
